.canvas-container {
    display: flex;
    background-color: #1b1b1b;
    width: 100%;
    height: 100%;
}

.canvas-container svg {
    width: 100%;
    height: 100%;
}

.canvas-container circle, text{
    cursor: grab;
}