.control-panel {
  background-color: #222222;
  border-right: 1px solid;
  border-color: grey;
  box-sizing: border-box;
  height: 100%;
  width: 300px;
  min-width: 300px;
  user-select: none;
}

.control-panel h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 26px;
  border-bottom: 1px solid;
  border-color: grey;
  box-sizing: border-box;
}

.control-panel button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  border: none;
  font-size: 16px;
  padding: 0;
  max-width: 100%;
}

.control-panel button,
.slider {
  display: flex;
  flex: 1;
  width: 100%;
}

.control-panel button:not(.selected) {
  background-color: #222222;
}

.control-panel button.selected {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-top: 4px solid #0062ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.control-panel button:not(.selected):hover {
  background-color: #1b1b1b;
}

.control-panel div.accent {
}

.control-panel button:hover {
  cursor: pointer;
}

.control-panel button:active {
  /* box-shadow: inset 0px 0px 4px #c1c1c1; */
  transform: scale(0.99);
}

.slider {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  color: white;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  width: 95%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #545a5f;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-moz-range-track {
  background-color: #545a5f;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #336dff;
  height: 20px;
  margin-top: -6px;
  width: 10px;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #336dff;
  border: none;
  border-radius: 2px;
  height: 20px;
  width: 10px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.group {
  display: flex;
}

.icon {
  height: 20px;
}

.node-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-color: grey;
}

.node-selection div {
  display: flex;
  justify-content: center;
  width: 50%;
  color: white;
  padding: 5px;
}

.node-selection label {
  padding-right: 10px;
}

.node-selection select {
  background-color: #222222;
  color: white;
  border: none;
  font-size: 16px;
}
