.header {
  display: flex;
  align-items: center;
  background-color: #0a0a0a;
  height: 60px;
}

img {
  height: 80%;
  margin-inline: 10px;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 28px;
  margin: 0;
}
