.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #222222;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: grey;
  box-sizing: border-box;
}

.nav li {
  line-height: 50px;
  height: 50px;
}

.selected {
  background-color: #336dff;
}

.nav li:not(.selected):hover {
  background-color: #1b1b1b;
}

.nav li:active {
  box-shadow: inset 0px 0px 4px #c1c1c1;
  padding-inline: 12px;
}

.link-style {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
  padding-inline: 10px;
  box-sizing: border-box;
}
